.rows{
    margin: auto;
    width: 30%;
    display:flex;
}
.firstBox{
    text-align: center;
    margin: auto;
}
.secondBox{
    text-align: center;
}
.box{
    padding: 
}
.form{
    background-color: bisque;
    width: 50%;
    text-align: center;
}